POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=waterflow2

OCR_API_KEY=your_ocr_api_key_here
DB_URL=postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/waterflow2

MLFLOW_TRACKING_URI=http://localhost:5000
APP_ENV=development
